---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_181Q0WGXlSq5lTo0FOUvAKaT&description=980204182&email=pricing-start%40exmaple.com
    headers:
      Authorization:
      - Bearer sk_test_4B7fNXD0PSLUMt2GbtA6NWiM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8I00e0RpR56Xgv",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_181Q0WGXlSq5lTo0AfAHphKA",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8I00e0RpR56Xgv",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "dg8bS0KSxr4WFLbu",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8I00e0RpR56Xgv/cards"
          },
          "created": 1460938372,
          "currency": null,
          "default_card": "card_181Q0WGXlSq5lTo0AfAHphKA",
          "default_source": "card_181Q0WGXlSq5lTo0AfAHphKA",
          "delinquent": false,
          "description": "980204182",
          "discount": null,
          "email": "pricing-start@exmaple.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_181Q0WGXlSq5lTo0AfAHphKA",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8I00e0RpR56Xgv",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "dg8bS0KSxr4WFLbu",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8I00e0RpR56Xgv/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8I00e0RpR56Xgv/subscriptions"
          }
        }
  recorded_at: Mon, 18 Apr 2016 00:12:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8I00e0RpR56Xgv/subscription
    body:
      encoding: US-ASCII
      string: plan=hobby-fast-11&prorate=true
    headers:
      Authorization:
      - Bearer sk_test_4B7fNXD0PSLUMt2GbtA6NWiM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8I00D5Jnqb0mCG",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1463530372,
          "current_period_start": 1460938372,
          "customer": "cus_8I00e0RpR56Xgv",
          "discount": null,
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "hobby-fast-11",
            "object": "plan",
            "amount": 1100,
            "created": 1460345224,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Hobby Fast 11",
            "statement_descriptor": "Huginn (Hobby Fast)",
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1460938372,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 18 Apr 2016 00:12:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8I00e0RpR56Xgv/cards/card_181Q0WGXlSq5lTo0AfAHphKA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4B7fNXD0PSLUMt2GbtA6NWiM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_181Q0WGXlSq5lTo0AfAHphKA",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8I00e0RpR56Xgv",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 4,
          "exp_year": 2018,
          "fingerprint": "dg8bS0KSxr4WFLbu",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Mon, 18 Apr 2016 00:12:53 GMT
recorded_with: VCR 2.9.2
