<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
        <h1>About This</h1>
        <h2>What is Huginn?</h2>
        <p>
          Huginn is a service designed to let you connect the internet in ways 
          that are interesting and relevant to you. If you want to know when it
          will rain, or when the world is tweeting about your favorite celebrity,
          then Huginn is for you. We have dozens of agents  to help you be 
          productive and more are being added all the time. 
        </p>
        <p>
          Huginn is also <a href="https://github.com/cantino/huginn" target="_blank">open source software and is hosted on Github</a>. 
          That means you can help make it better. If there's an agent 
          you want to see, or you want to help out, you can! It also means that 
          if you build your life around Huginn you never have to worry 
          about Omniscope closing up shop because you can always run Huginn yourself.
        </p>
        <h2>What is Omniscope?</h2>
        <p>
          In 2015, one of the core maintainers of Huginn put a call out for
          someone to run a hosted, public instance of Huginn. There were roughly
          10,000 people on Github following the Huginn repo and one of the big 
          barriers to adoption that he saw was the need to deploy Huginn before
          seeing it in action. 
        </p>
        <p>
          Omniscope answered that call. We forked the open source code, added 
          a payment gateway to help cover our costs, made some contributions
          back to the core project, and here we are. We hope this gets you
          into Huginn faster than ever before and that you find this instance 
          meaningful. 
        </p>
        <p>
          Omniscope is dedicated to making you 
          more productive. In addition to Huginn, we are experts in 
          leadership coaching, and have extensive experience with personal
          feedback in the workplace. 
        </p>
        <h2>Support</h2>
        <p>
          If you have a private issue, please email 
          us at <a href="mailto:support@omniscope.io">support@omniscope.io</a>
        </p>
        <p>
          For public issues, or to start a discussion, please feel free to 
          <a href="https://github.com/omniscopeio/huginn/issues" target="_blank">open an issue on Omniscope's fork of Huginn</a>
        </p>
        <h2>Contributing</h2>
        <p>
          We pull in the changes from the open source project pretty regularly.
          If you'd like to add new features in the form of a pull request, 
          or help address other developers concerns, great!
          The <a href="https://github.com/cantino/huginn" target="_blank">Huginn source repo is here on Github</a>.
        </p>
      </div>
    </div>
  </div>
</div>